.signup-card {
    margin : 20% 10%;

    div.form div {
        margin-bottom : 10px;
    }

    .forget-password {
        text-align: right;
        button {
            // padding : 0;
            font-size : 12px;
        }
    }

}