<!-- ヘッダー -->
<p-toolbar>
    <div class="p-toolbar-group-left" >
        <button type="button" (click)="sidebarDisp=true" pButton icon="pi pi-bars" class="p-button p-button-link"></button>
    </div>
    SmashReport
    <div class="p-toolbar-group-right" style="display : none">
    </div>
<p-toolbar>

<!-- メニュー -->
<p-sidebar [(visible)]="sidebarDisp" baseZIndex="1000">
    <h1>メニュー</h1>
    <div class="p-grid">
        <div class="p-col-12">
            <button pButton class="p-button p-button-link p-button-outlined" (click)="onClickLinkBtn( 'home' )" style="width : 100%" label=" " ico="pi pi-bars">
                ホーム
            </button>    
        </div>
        <div class="p-col-12">
            <button pButton class="p-button p-button-link p-button-outlined" (click)="onClickLinkBtn( 'list' )" style="width : 100%" label=" " ico="pi pi-bars">
                一覧
            </button>    
        </div>
        <div class="p-col-12">
            <button pButton class="p-button p-button-link p-button-outlined" (click)="onClickLinkBtn( 'edit' )" style="width : 100%" label=" " ico="pi pi-bars">
                追加
            </button>    
        </div>
        <div class="p-col-12">
            <button pButton class="p-button p-button-link p-button-outlined" (click)="onClickLinkBtn( 'analys' )" style="width : 100%" label=" " ico="pi pi-bars">
                分析
            </button>    
        </div>
        <div class="p-col-12">
            <button pButton class="p-button p-button-link p-button-outlined" (click)="onClickLinkBtn( 'counterplan' )" style="width : 100%" label=" " ico="pi pi-bars">
                対策
            </button>    
        </div>
        <div class="p-col-12">
            <button pButton class="p-button p-button-link p-button-outlined" (click)="onClickSignOutBtn( )" style="width : 100%" label=" " ico="pi pi-bars">
                サインアウト
            </button>    
        </div>
    </div>
</p-sidebar>


    