<!-- テーブル -->
<p-table
    selectionMode="single" 
    scrollHeight="calc( 100vh - 160px - 50px - 50px )"
    [value]="reportList"
    [lazy]="true" 
    [scrollable]="true"
    [paginator]="true"
    [rows]="rows" 
    [totalRecords]="totalReports" 
    [loading]="loading" 
    (onRowSelect)="onClickReportBtn($event.data)" 
    (onLazyLoad)="changePage($event)">
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of cols">{{ col.header }}</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-report >
        <tr [pSelectableRow]="report">
            <!-- 自分 -->
            <td><img src="assets/img/char/{{ report.usedCharId }}.png" alt=""></td>
            <!-- 相手 -->
            <td><img src="assets/img/char/{{ report.compCharId }}.png" alt=""></td>
            <td>{{ cols[2].get( report[ cols[2].field ] ) }}</td>
            <td>{{ cols[3].get( report[ cols[3].field ] ) }}</td>
        </tr>
    </ng-template>
</p-table>


<!-- 編集モーダル -->
<p-dialog [(visible)]="editDisp" *ngIf="editReport" (onHide)="onHideEditDialog()">
    <div class="p-grid">
        <!-- 自分 -->
        <div class="p-col-12 p-md-6">
            <app-select-char [initValue]="editReport.usedCharId" header="自分" (selectEvent)="onSelectUsedChar( $event )"></app-select-char>
        </div>
        <!-- 相手 -->
        <div class="p-col-12 p-md-6">
            <app-select-char [initValue]="editReport.compCharId" header="相手" (selectEvent)="onSelectCompChar( $event )"></app-select-char>
        </div>
        <!-- ステージ -->
        <div class="p-col-12 p-md-6">
            <app-select-stage [initValue]="editReport.stageId" header="ステージ" (selectEvent)="onSelectStage( $event )"></app-select-stage>
        </div>
        <!-- 結果 -->
        <div class="p-col-12 p-md-6">
            <app-select-button-result [initValue]="editReport.result" (selectedResult)="onSelectResult( $event )"></app-select-button-result>
        </div>
        <!-- 環境 -->
        <div class="p-col-12 p-md-6">
            <app-select-button-env [initValue]="editReport.env" (selectedEnv)="onSelectEnv( $event )"></app-select-button-env>
        </div>
    </div>    
    <p-footer>
        <!-- 保存ボタン -->
        <button style="margin-top : 24px;" pButton icon="pi pi-save" iconPos="left" (click)="onClickSaveBtn( )" label="保存"></button>    
        <button style="margin-top : 24px;" pButton class="p-button-danger" icon="pi pi-trash" iconPos="left" (click)="onClickDeleteBtn( )" label="削除"></button>    
    </p-footer>
</p-dialog>

<p-toast></p-toast>