<div class="select-char-box">
    <app-select-char [initValue]="usedCharId" header="使用キャラ" (selectEvent)="onSelectUsedChar( $event )"></app-select-char>
</div>

<p-table
    selectionMode="single" 
    scrollHeight="calc( 100vh - 280px - 50px )"
    [value]="reports"
    [scrollable]="true"
    [loading]="loading"
    (onRowSelect)="onClickReportBtn($event.data)" >
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of cols">{{ col.header }}</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-report >
        <tr [pSelectableRow]="report">
            <td *ngFor="let col of cols" >{{ col.get( report ) }}</td>
        </tr>
    </ng-template>
</p-table>


<p-dialog [(visible)]="detailDisp" *ngIf="chartData.length > 0" (onHide)="onHideDialog( )" [header]="'VS ' + CommonUtil.CHAR[selectedReport.compCharId].name">
    <div class="p-grid">
        <div class="p-col-12 p-md-6 analys-chart" *ngFor="let chart of chartData">
            <p-chart type="pie" [data]="chart.data" [options]="chart.options"></p-chart>
        </div>
    </div>
</p-dialog>